$light-green: #95c11e;
$dark-blue: #31314d;
$light-grey: #fafbfc;
$dark-teal: #00a998;
$darker-teal: #007c6f;
$light-blue: #0091c8;
$light-green: #8dc029;

.bg-dark-blue {
    background-color: $dark-blue
}

.bg-light-green {
    background-color: $light-green
}

.bg-light-grey {
    background-color: $light-grey
}

.bg-dark-teal {
    background-color: $dark-teal
}

.text-light-blue {
    color: $light-blue
}

.img-fluid {
    width: 50%
}

.middle-arrow {
    position:relative;
    width:100% !important;
}

.middle-arrow:after {
    content:'';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: solid 25px $light-green;
    border-left: solid 25px transparent;
    border-right: solid 25px transparent;
}

.input-group-text {
    border-radius: 0rem;
}

.border-start-0 {
    border-left: 0;
}

.border-dark-teal {
    border-color: $dark-teal !important;;
}

.border-9 {
    border-width: 9px !important;
}

.btn-dark-teal {
  color: #fff;
  background-color: $dark-teal;
  background-image: linear-gradient(90deg, $dark-teal, $light-green);
  border-color: #707070;
}
.btn-dark-teal:hover {
  color: #fff;
  background-color: $darker-teal;
  border-color: $darker-teal;
}

.btn-outline-darker-teal {
    color: $light-green;
    border-color: $light-green;
}

.btn-outline-darker-teal:hover {
  color: #fff;
  background-image: linear-gradient(90deg, $dark-teal, $light-green);
  border-color: #707070;
}

