<template>
    <form class="needs-validation" novalidate="" @submit.prevent="submit">
        <div class="alert alert-success alert-dismissible fade show" role="alert" v-show="success">
            Submitted Successfully
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <main class="container">
            <div class="d-flex align-items-center mb-4 text-center p-3 my-3 text-white bg-light-green shadow-sm middle-arrow">
                <div class="lh-1 w-100">
                    <div class="h1 mb-0 p-3 text-white lh-1 font-weight-bold">We just need a few more details...</div>
                    <div class="h5 p-3" >After submitting your information we will try to find you a great personalized loan from our lending partners.
                        <br>This will <b>not affect</b> your credit score and there is no obligation.</div>
                </div>
            </div>

            <div class="bg-light-grey mt-5">
                <div class="bg-white px-4 py-2 border-bottom border-9 border-dark-teal">
                    <div class="h2 pt-3 text-light-blue font-weight-bold">Your loan details</div>
                    <div class="h5 py-3">Help us narrow down which lending partners can help you</div>
                </div>
                <div class="d-flex justify-content-center px-4 py-5 border-bottom border-9 border-dark-teal">
                    <div class="col-md-7 col-lg-8">
                        <div class="row g-3">
                            <div class="col-12 py-3">
                                <div class="input-group has-validation">
                                    <div class="pr-4 w-25 text-right">
                                        <label for="firstName" class="form-label font-weight-bold">First name</label>
                                    </div>
                                    <div class="w-50">
                                        <input type="text" class="form-control" id="firstName" placeholder="" value="" v-model="fields.firstname" required="">
                                        <div class="invalid-feedback">
                                            Valid first name is required.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 py-3">
                                <div class="input-group has-validation">
                                    <div class="pr-4 w-25 text-right">
                                        <label for="lastName" class="form-label font-weight-bold">Last name</label>
                                    </div>
                                    <div class="w-50">
                                        <input type="text" class="form-control" id="lastName" placeholder="" value="" v-model="fields.lastname" required="">
                                        <div class="invalid-feedback">
                                            Valid last name is required.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 py-3">
                                <div class="input-group has-validation">
                                    <div class="pr-4 w-25 text-right">
                                        <label for="address" class="form-label font-weight-bold">Address</label>
                                    </div>
                                    <div class="w-50">
                                        <input type="text" class="form-control" id="address" placeholder="1234 Main St" value="" v-model="fields.address" required="">
                                        <div class="invalid-feedback">
                                            Valid address is required.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 py-3">
                                <div class="input-group has-validation">
                                    <div class="pr-4 w-25 text-right">
                                        <label for="address2" class="form-label font-weight-bold">Address 2 <span class="text-muted">(Optional)</span></label>
                                    </div>
                                    <div class="w-50">
                                        <input type="text" class="form-control" id="address2" placeholder="Apartment or suite" value="" v-model="fields.address2" required="">
                                        <div class="invalid-feedback">
                                            Valid address is required.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 py-3">
                                <div class="input-group has-validation">
                                    <div class="pr-4 w-25 text-right">
                                        <label for="province" class="form-label">Province</label>
                                    </div>
                                    <div class="w-50">
                                        <select class="form-control" id="province" required="" v-model="fields.province">
                                            <option value="">Choose...</option>
                                            <option v-for="province in provinces" :value="province.id">{{province.name}}</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Please select a valid province.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 py-3">
                                <div class="input-group has-validation">
                                    <div class="pr-4 w-25 text-right">
                                        <label for="city" class="form-label">City</label>
                                    </div>
                                    <div class="w-50">
                                        <select class="form-control" id="city" required="" v-model="fields.city">
                                            <option value="">Choose...</option>
                                            <option v-for="city in cities" :value="city.id">{{city.name}}</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Please provide a valid city.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 py-3">
                                <div class="input-group has-validation">
                                    <div class="pr-4 w-25 text-right">
                                        <label for="zip" class="form-label">Zip</label>
                                    </div>
                                    <div class="w-50">
                                        <input type="text" class="form-control" id="zip" placeholder="" v-model="fields.zip" required="">
                                        <div class="invalid-feedback">
                                            Zip code required.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 py-3">
                                <div class="input-group has-validation">
                                    <div class="pr-4 w-25 text-right">
                                        <label for="phone" class="form-label mb-0 py-1 font-weight-bold">Phone number</label>
                                    </div>
                                    <div class="w-50">
                                        <input type="text" class="form-control" id="phone" placeholder="" value="" v-model="fields.phone" required="">
                                        <div class="invalid-feedback">
                                            Valid phone is required.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 py-3">
                                <div class="input-group has-validation">
                                    <div class="pr-4 w-25 text-right">
                                        <label for="email" class="form-label mb-0 py-1 font-weight-bold">Email address</label>
                                    </div>
                                    <div class="w-50">
                                        <input type="text" class="form-control" id="email" placeholder="you@example.com" value="" v-model="fields.email" required="">
                                        <div class="invalid-feedback">
                                            Valid email is required.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 py-3">
                                <div class="input-group has-validation">
                                    <div class="pr-4 w-25 text-right">
                                        <label for="question" class="form-label mb-0 py-1 font-weight-bold">Question</label>
                                    </div>
                                    <div class="w-50">
                                        <input type="text" class="form-control" id="question" placeholder="" value="" v-model="fields.question" required="">
                                        <div class="invalid-feedback">
                                            Valid question is required.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-around col-12 py-3">
                                <div class="form-check w-50">
                                    <input type="checkbox" class="form-check-input" id="marketing" v-model="fields.marketing">
                                    <label class="form-check-label" for="marketing">Marketing opt-in</label>
                                </div>
                            </div>

                            <div class="d-flex justify-content-around col-12 pt-0 pb-3">
                                <div class="form-check w-50">
                                    <input type="checkbox" class="form-check-input" id="terms" required="" v-model="fields.terms">
                                    <label class="form-check-label" for="terms">I agree to the <a href="#">terms and conditions</a></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center pt-5">
                <button class="w-25 btn btn-dark-teal btn-lg rounded-pill" type="submit">Submit</button>
            </div>
        </main>
    </form>
</template>

<script>
export default {
    data () {
        return {
            cities: null,
            provinces: null,
            fields: {},
            success: false,
            errors: {}
        }
    },
    mounted() {
        axios.get('/city').then(response => {
            this.cities = response.data.cities
        });
        axios.get('/province').then(response => {
            this.provinces = response.data.provinces
        })

    },
    methods: {
        submit() {
            axios.post('/customer', this.fields).then(response => {
                this.fields = {};
                this.success = true;
                window.scrollTo(0,0);
            }).catch(error => {
                if(error.response.status == 422) {
                    this.errors = error.response.data.errors;
                }
                console.log('saving customer error')
            })
        }
    },
    name: "CustomerCreate"
}
</script>

<style scoped>

</style>
